.container{
    width: 40vh;
    height: 60vh;
    background-color: #05668D;
    border-radius: 32px;
    overflow: hidden;
}

.wave{
    background: rgba(91, 31, 255, 0.25);
    border-radius: 1000% 1000% 0 0;
    width: 100vw;
    height: 10vh;
    animation: wave 10s -3s linear infinite;
    opacity: 0.8;
    bottom: -5vh;
    left: 0;
    position: fixed;
}

.wave:nth-of-type(2){
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;

}

.wave:nth-of-type(3){
    bottom: -2.5em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

@keyframes wave {
    2%{
        transform: translateX(1);
    }

    25%{
        transform: translateX(-25%);
    }

    50%{
        transform: translateX(50%);
    }

    75%{
        transform: translateX(-25%);
    }

    100%{
        transform: translateX(1);
    }
    
}